@import "../../styles/Variables.scss";

/** TimePicker Component Styles */
.mainsail-timepicker {
    display: flex;

    .mainsail-dropdown {
        flex-basis: 69px;
        flex-grow: 0;
        flex-shrink: 0;

        &.mainsail-timepicker__time {
            text-align: right;
            text-align-last: right;

            .mainsail-dropdown__item {
                align-items: flex-end;
                flex-basis: 100%;
                width: 100%;
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        &.mainsail-timepicker__time button.mainsail-dropdown__toggle,
        &.mainsail-timepicker__time select {
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: transparent;

            &.open,
            :focus,
            :active {
                outline: none;
                border-color: $mainsail-blue-primary;
                border: 1px solid $mainsail-blue-primary;
                box-shadow: $mainsail-shadow-near;
            }
        }

        &.mainsail-timepicker__period button.mainsail-dropdown__toggle,
        &.mainsail-timepicker__period select {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding-left: 12px !important;
        }

        .mainsail-dropdown__menu {
            z-index: 10000;
            min-width: 82px;
        }
    }
}
