@import "../../styles/Variables.scss";
@import "../../styles/Layout.scss";

/** Input Component Styles */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"] {
    &.mainsail-input {
        @include mainsail-body-text-regular;
        padding: 7px;
        color: $mainsail-neutral-2;
        height: 36px;
        border-radius: $mainsail-input-border-radius;
        border: 1px solid $mainsail-input-border;
        background-color: $mainsail-white;
        box-sizing: border-box;

        &::placeholder {
            color: $mainsail-neutral-3;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $mainsail-blue-primary;
            border: 1px solid $mainsail-blue-primary;
            box-shadow: $mainsail-shadow-near;
        }

        @include disabled;

        @include readonly;
    }
}
