@import "../../styles/Variables.scss";

/** Badge Component Styles */
.mainsail-badge {
    display: inline-flex;
    align-items: center;
    font-family: $font;
    font-size: 0.75em;
    padding: 4px;
    border-radius: 9999px;
    box-sizing: border-box;

    button {
        background-color: transparent;
        border: none;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-left: 2px;
        padding: 2px 3px;
        min-width: auto;
    }

    &.sm {
        @include mainsail-body-text-small();
        font-weight: 700;
        padding: 3px 7px;

        svg {
            height: 12px;
            width: 12px;
        }
    }
    &.lg {
        @include mainsail-body-text-regular();
        font-weight: 700;
        padding: 5px 9px;

        svg {
            height: 14px;
            width: 14px;
        }
    }

    &.blue {
        background-color: $mainsail-blue-light;
        color: $mainsail-blue-middle;

        svg {
            color: $mainsail-blue-middle;
        }
    }

    &.green {
        background-color: $mainsail-green-light;
        color: $mainsail-green-middle;

        svg {
            color: $mainsail-green-middle;
        }
    }

    &.violet {
        background-color: $mainsail-violet-light;
        color: $mainsail-violet-middle;

        svg {
            color: $mainsail-violet-middle;
        }
    }

    &.orange {
        background-color: $mainsail-orange-light;
        color: $mainsail-orange-middle;

        svg {
            color: $mainsail-orange-middle;
        }
    }

    &.pink {
        background-color: $mainsail-pink-light;
        color: $mainsail-pink-middle;

        svg {
            color: $mainsail-pink-middle;
        }
    }

    &.red {
        background-color: $mainsail-red-light;
        color: $mainsail-red-middle;

        svg {
            color: $mainsail-red-middle;
        }
    }

    &.neutral {
        background-color: $mainsail-neutral-5;
        color: $mainsail-neutral-2;

        svg {
            color: $mainsail-neutral-2;
        }
    }

    &.removable {
        &.sm {
            padding-right: 3px;
            padding-left: 8px;
        }
        &.lg {
            padding-right: 4px;
        }
    }

    &.round {
        border-radius: 9999px;

        button {
            &:focus,
            &:active {
                border-radius: 9999px;
            }
            border-radius: 9999px;
        }
    }

    &.square {
        border-radius: $mainsail-button-border-radius;

        button {
            &:focus,
            &:active {
                border-radius: $mainsail-button-border-radius-lg;
            }
            border-radius: $mainsail-button-border-radius-lg;
        }
    }
}
