@import "../../styles/Variables.scss";

button.mainsail-button {
    @include mainsail-button-text-regular();
    position: relative;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 250ms;

    outline: none;
    border: 1px solid transparent;
    border-radius: $mainsail-button-border-radius;
    box-shadow: $mainsail-shadow-near;
    padding: 10px !important;
    cursor: pointer;

    &:focus {
        outline: 5px auto $mainsail-blue-primary;
    }

    .mainsail-icon {
        svg {
            width: 16px;
            height: 16px;
        }

        &.right {
            margin-left: 8px;
            margin-right: 0px;
        }

        &.left {
            margin-right: 8px;
            margin-left: 0px;
        }
    }

    &.primary {
        color: $mainsail-blue-light;
        border-color: $mainsail-blue-primary;
        background: $mainsail-blue-primary;

        &:hover {
            border-color: $mainsail-blue-dark;
            background: $mainsail-blue-dark;
            color: $mainsail-blue-light;
        }

        &:active {
            box-shadow: $mainsail-shadow-active;
        }

        &:disabled {
            @include mainsail-button-disabled;

            &:hover {
                color: $mainsail-blue-light;
                border-color: $mainsail-blue-primary;
                background: $mainsail-blue-primary;
            }
        }

        &.green {
            color: $color-neutral-6;
            border-color: transparent;
            background: $color-product-a2;
        }
    }

    &.secondary {
        color: $mainsail-blue-dark;
        border-color: $mainsail-blue-dark;
        background: $mainsail-white;

        &:hover {
            background: $mainsail-blue-light;
        }

        &:active {
            box-shadow: $mainsail-shadow-active;
        }

        &:disabled {
            @include mainsail-button-disabled;

            &:hover {
                color: $mainsail-blue-dark;
                border-color: $mainsail-blue-dark;
                background: $mainsail-white;
            }
        }
    }

    &.tertiary {
        color: $mainsail-blue-dark;
        border: 0;
        box-shadow: none;
        background: none;
        background-color: transparent;

        &.close {
            position: absolute;
        }

        &:hover {
            color: $mainsail-blue-primary;
        }

        &:active {
            box-shadow: $mainsail-shadow-active;
        }

        &:disabled {
            @include mainsail-button-disabled;

            &:hover {
                color: $mainsail-blue-dark;
                box-shadow: none;
                background: none;
                background-color: transparent;
            }
        }
    }

    &.action {
        height: 26px;
        padding: 4px 10px;
        border: 0;
        box-shadow: $mainsail-shadow-near;
        border-radius: $mainsail-pill-radius;
        background: $mainsail-blue-light;
        color: $mainsail-blue-dark;

        &:hover {
            border-color: $mainsail-blue-dark;
            color: $mainsail-blue-primary;
            box-shadow: none;
        }

        &:active {
            box-shadow: $mainsail-shadow-active;
            color: $mainsail-blue-primary;
        }

        &:disabled {
            @include mainsail-button-disabled;

            &:hover {
                color: $mainsail-blue-dark;
                background: $mainsail-white;
            }
        }
    }

    &.link {
        @include mainsail-body-text-small();
        color: $mainsail-blue-primary;
        border: transparent;
        background: none;
        box-shadow: none;
        padding: 0 !important;
        margin: 0;
        height: auto;

        svg {
            color: $mainsail-blue-primary;
            width: 12px;
        }

        &:hover {
            text-decoration: underline;
        }

        &:disabled {
            @include mainsail-button-disabled;

            &:hover {
                color: $mainsail-blue-dark;
                background: $mainsail-white;
            }
        }
    }

    &.icon {
        background: none;
        box-shadow: none;
        &:hover {
            background: $mainsail-blue-light;
            border-radius: $mainsail-button-border-radius-lg;
        }
    }

    &:hover {
        box-shadow: none;
    }

    &.small {
        @include mainsail-button-text-small();
    }
}
