@import "../../styles/Variables.scss";

button.mainsail-button {
    @include mainsail-button-text-regular();
    position: relative;
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-box-pack: center;
    transition: all 250ms;

    outline: none;
    border: 1px solid transparent;
    border-radius: $mainsail-button-border-radius;
    box-shadow: $mainsail-shadow-near;
    padding: 10px !important;
    cursor: pointer;

    /* Owl selector supplies space between elements */
    > * + * {
        margin-left: 8px !important;
    }

    .spinner {
        color: currentColor;
        padding: 5px !important;
    }

    .mainsail-icon {
        color: currentColor;
        svg {
            width: 16px;
            height: 16px;
        }
    }

    &.primary {
        color: $mainsail-blue-light;
        border-color: $mainsail-blue-primary;
        background: $mainsail-blue-primary;

        @include hover {
            border-color: $mainsail-blue-dark;
            background: $mainsail-blue-dark;
            color: $mainsail-blue-light;
        }
        @include active {
            box-shadow: $mainsail-shadow-active;
        }

        @include focus {
            outline: none;
        }

        @include disabled;

        &.filtering {
            background: $mainsail-green-middle;
            color: $mainsail-blue-light;
            border-color: $mainsail-green-middle;

            @include hover {
                background: $mainsail-green-dark;
                border-color: $mainsail-green-dark;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-green-middle);
            }
        }

        &.danger {
            background: $mainsail-red-middle;
            color: $mainsail-blue-light;
            border-color: $mainsail-red-middle;

            @include hover {
                background: $mainsail-red-dark;
                border-color: $mainsail-red-dark;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-red-middle);
            }
        }
    }

    &.secondary {
        color: $mainsail-blue-dark;
        border-color: $mainsail-blue-dark;
        background: $mainsail-white;

        @include hover {
            background: $mainsail-blue-light;
        }
        @include active {
            box-shadow: $mainsail-shadow-active;
        }
        @include focus {
            outline: none;
        }

        @include disabled;

        &.filtering {
            color: $mainsail-green-middle;
            background: $mainsail-white;
            border-color: $mainsail-green-middle;

            @include hover {
                background: $mainsail-green-light;
                border-color: $mainsail-green-dark;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-green-middle);
            }
        }

        &.danger {
            background: $mainsail-white;
            color: $mainsail-red-middle;
            border-color: $mainsail-red-middle;

            @include hover {
                background: $mainsail-red-light;
                border-color: $mainsail-red-dark;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-red-middle);
            }
        }
    }

    &.tertiary {
        color: $mainsail-blue-dark;
        border: none;
        box-shadow: none;
        background: none;
        background-color: transparent;

        @include hover {
            color: $mainsail-blue-primary;
        }

        @include active {
        }

        @include disabled;

        &.filtering {
            color: $mainsail-green-middle;
            background: none;
            border-color: $mainsail-green-middle;

            @include hover {
                background: none;
                color: $mainsail-green-dark;
            }

            @include active {
            }
        }

        &.danger {
            background: $mainsail-white;
            color: $mainsail-red-middle;
            border-color: $mainsail-red-middle;

            @include hover {
                color: $mainsail-red-middle;
                background: none;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-red-middle);
            }
        }
    }

    &.link {
        @include mainsail-body-text-small();
        color: $mainsail-blue-primary;
        border: transparent;
        background: none;
        box-shadow: none;
        padding: 0 !important;
        margin: 0;
        height: auto;

        @include hover {
            text-decoration: underline;
        }

        @include focus {
            outline-offset: 4px;
        }

        @include disabled;

        &.filtering {
            color: $mainsail-green-middle;
            background: none;
            border-color: $mainsail-green-middle;

            @include hover {
                background: none;
                color: $mainsail-green-dark;
            }

            @include active {
            }
        }

        &.danger {
            background: $mainsail-white;
            color: $mainsail-red-middle;
            border-color: $mainsail-red-middle;

            @include hover {
                color: $mainsail-red-middle;
                background: none;
            }

            @include active {
                @include mainsail-shadow-active($mainsail-red-middle);
            }
        }
    }

    &.icon {
        color: $mainsail-blue-primary;
        background: none;
        box-shadow: none;
        &:hover {
            background: $mainsail-blue-light;
            border-radius: $mainsail-button-border-radius-lg;
        }
    }

    &:hover {
        box-shadow: none;
    }

    &:focus {
        outline: 5px auto $mainsail-blue-primary;
    }

    &.text-small {
        @include mainsail-button-text-small();
        padding: 6px 10px !important;
    }

    &.full-width {
        width: 100%;
    }
}
