@import "../../styles/Variables.scss";
@import "../../styles/Layout.scss";

/** FormControl Component Styles */

.mainsail-form-control {
    min-width: auto;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    input {
        @include mainsail-body-text-regular;
        width: 100% !important;
    }

    .invalid-text {
        @include mainsail-body-text-small;
        margin-top: 6px;
        color: $mainsail-red-middle;
    }

    textarea.mainsail-textarea.error,
    input.mainsail-input.error,
    .mainsail-dropdown.error button {
        border: 1px solid $mainsail-input-border-error;
    }

    label.mainsail-form-label.error {
        color: $mainsail-red-dark;
    }

    label.mainsail-form-label,
    label.checkboxgroup-label,
    label.radiogroup-label {
        &.disabled {
            opacity: 0.5;
        }
    }

    /** Fallback input styling */
    input:not(.mainsail-input) {
        @include mainsail-body-text-regular;

        padding: 7px;
        color: $mainsail-neutral-2;
        height: 36px;
        border-radius: $mainsail-input-border-radius;
        border: 1px solid $mainsail-input-border;
        background-color: $mainsail-white;
        box-sizing: border-box;

        &::placeholder {
            color: $mainsail-neutral-2;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $mainsail-blue-primary;
            border: 1px solid $mainsail-blue-primary;
            box-shadow: $mainsail-shadow-near;
        }

        @include disabled;

        @include readonly;

        &.with-icon {
            padding-left: 32px;
        }
    }

    .input-icon {
        position: absolute;
        left: 8px;
        top: 30px;
    }
}
