/** Transition Component Styles */

.ms-fade-scale-enter,
.ms-fade-scale-appear {
    opacity: 0;
    transform: scale(0.6);
}
.ms-fade-scale-enter-active,
.ms-fade-scale-appear-active,
.ms-fade-scale-appear-done {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-scale-exit {
    opacity: 1;
}
.ms-fade-scale-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-scale-exit-done {
    opacity: 0;
}

// Fade and Slide Down
.ms-fade-slide-down-enter,
.ms-fade-slide-down-appear {
    opacity: 0;
    transform: translateY(-30%);
}
.ms-fade-slide-down-enter-active,
.ms-fade-slide-down-appear-active,
.ms-fade-slide-down-appear-done {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-down-exit {
    opacity: 1;
}
.ms-fade-slide-down-exit-active {
    opacity: 0;
    transform: translateY(-30%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-down-exit-done {
    opacity: 0;
    transform: translateY(0%);
}

.ms-fade-slide-up-enter,
.ms-fade-slide-up-appear {
    opacity: 0;
    transform: translateY(30%);
}
.ms-fade-slide-up-enter-active,
.ms-fade-slide-up-appear-active,
.ms-fade-slide-up-appear-done {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-up-exit {
    opacity: 1;
}
.ms-fade-slide-up-exit-active {
    opacity: 0;
    transform: translateY(30%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-up-exit-done {
    opacity: 0;
    transform: translateY(0%);
}

// Fade and Slide Right
.ms-fade-slide-right-enter,
.ms-fade-slide-right-appear {
    opacity: 0;
    transform: translateX(-50%);
}
.ms-fade-slide-right-enter-active,
.ms-fade-slide-right-appear-active,
.ms-fade-slide-right-appear-done {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-right-exit {
    opacity: 1;
}
.ms-fade-slide-right-exit-active {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-right-exit-done {
    opacity: 0;
    transform: translateX(0%);
}

// Fade and Slide Left
.ms-fade-slide-left-enter,
.ms-fade-slide-left-appear {
    opacity: 0;
    transform: translateX(50%);
}
.ms-fade-slide-left-enter-active,
.ms-fade-slide-left-appear-active,
.ms-fade-slide-left-appear-done {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-left-exit {
    opacity: 1;
}
.ms-fade-slide-left-exit-active {
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 300ms, transform 300ms;
}
.ms-fade-slide-left-exit-done {
    opacity: 0;
    transform: translateX(0%);
}

// A Simple, Quick Fade
.ms-fade-enter,
.ms-fade-appear {
    opacity: 0;
}
.ms-fade-enter-active,
.ms-fade-appear-active,
.ms-fade-appear-done {
    opacity: 1;
    transition: opacity 200ms;
}
.ms-fade-exit {
    opacity: 1;
}
.ms-fade-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
.ms-fade-exit-done {
    opacity: 0;
}
