@import "./Variables";
@import "./Utility";
/*
    Mainsail Utility Classes -- (Configured in Variables.scss)
    While Bootstrap has Spacing Utility classes, these utilize
    our new Design specs sizing scales and a simpler naming
    convention that uses explicit values in the class numeral
    e.g. mb-4 or mb-12
    for 4px or 12px equivalent of bottom margin respectively
*/
.m {
    @include spacing-modifiers($attribute: "margin");
}
.mx {
    @include spacing-modifiers($attribute: "margin-left");
    @include spacing-modifiers($attribute: "margin-right");
}
.my {
    @include spacing-modifiers($attribute: "margin-top");
    @include spacing-modifiers($attribute: "margin-bottom");
}
.mt {
    @include spacing-modifiers($attribute: "margin-top");
}
.mr {
    @include spacing-modifiers($attribute: "margin-right");
}
.mb {
    @include spacing-modifiers($attribute: "margin-bottom");
}
.ml {
    @include spacing-modifiers($attribute: "margin-left");
}

.p {
    @include spacing-modifiers($attribute: "padding");
}
.px {
    @include spacing-modifiers($attribute: "padding-left");
    @include spacing-modifiers($attribute: "padding-right");
}
.py {
    @include spacing-modifiers($attribute: "padding-top");
    @include spacing-modifiers($attribute: "padding-bottom");
}
.pt {
    @include spacing-modifiers($attribute: "padding-top");
}
.pr {
    @include spacing-modifiers($attribute: "padding-right");
}
.pb {
    @include spacing-modifiers($attribute: "padding-bottom");
}
.pl {
    @include spacing-modifiers($attribute: "padding-left");
}

.max-w-1400 {
    max-width: 1400px;
}

.w-full {
    width: 100% !important;
}

/* Shadows */

.box-shadow-near {
    box-shadow: $mainsail-shadow-near;
}

.box-shadow-far {
    box-shadow: $mainsail-shadow-far;
}

.box-shadow-sticky {
    box-shadow: $mainsail-shadow-sticky;
}
/* End Shadows */

/* Background Colors */

.bg {
    @include color-modifiers();
}

.text {
    @include color-modifiers($attribute: "color");
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border {
    @include color-modifiers($attribute: "border-color");
}

.rounded {
    border-radius: $mainsail-button-border-radius;
}

.content-blur {
    filter: blur(3px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex {
    display: flex;

    &.align-center {
        align-items: center;
    }
}

.mainsail-skeleton {
    position: relative;
    overflow: hidden;
    flex-basis: 80%;
    flex-shrink: 1;
    min-height: 20px;
    border-radius: $mainsail-skeleton-radius;
    background: $mainsail-neutral-5;

    &.animated::before {
        content: "";
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(
                to right,
                transparent 0%,
                rgba($mainsail-neutral-6, 0.9) 50%,
                transparent 100%
            ),
            $mainsail-neutral-5;
        left: -100px;
        animation: load 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    &.sm {
        flex-basis: 30%;
    }
    &.md {
        flex-basis: 60%;
    }
    &.lg {
        flex-basis: 90%;
    }
}

@keyframes load {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
}
