@import "./Variables";
@import "./Utility";
/*
    Mainsail Utility Classes -- (Configured in Variables.scss)
    While Bootstrap has Spacing Utility classes, these utilize
    our new Design specs sizing scales and a simpler naming
    convention that uses explicit values in the class numeral
    e.g. mb-4 or mb-12
    for 4px or 12px equivalent of bottom margin respectively
*/
.space-y {
    @include spacing-between($attribute: "margin-top");
}
.space-x {
    @include spacing-between($attribute: "margin-left");
}
.m {
    @include spacing-modifiers($attribute: "margin");
}
.mx {
    @include spacing-modifiers($attribute: "margin-left");
    @include spacing-modifiers($attribute: "margin-right");
}
.my {
    @include spacing-modifiers($attribute: "margin-top");
    @include spacing-modifiers($attribute: "margin-bottom");
}
.mt {
    @include spacing-modifiers($attribute: "margin-top");
}
.mr {
    @include spacing-modifiers($attribute: "margin-right");
}
.mb {
    @include spacing-modifiers($attribute: "margin-bottom");
}
.ml {
    @include spacing-modifiers($attribute: "margin-left");
}

.p {
    @include spacing-modifiers($attribute: "padding");
}
.px {
    @include spacing-modifiers($attribute: "padding-left");
    @include spacing-modifiers($attribute: "padding-right");
}
.py {
    @include spacing-modifiers($attribute: "padding-top");
    @include spacing-modifiers($attribute: "padding-bottom");
}
.pt {
    @include spacing-modifiers($attribute: "padding-top");
}
.pr {
    @include spacing-modifiers($attribute: "padding-right");
}
.pb {
    @include spacing-modifiers($attribute: "padding-bottom");
}
.pl {
    @include spacing-modifiers($attribute: "padding-left");
}

@include md-size-down() {
    .sm\:m {
        @include spacing-modifiers($attribute: "margin");
    }
    .sm\:mx {
        @include spacing-modifiers($attribute: "margin-left");
        @include spacing-modifiers($attribute: "margin-right");
    }
    .sm\:my {
        @include spacing-modifiers($attribute: "margin-top");
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .sm\:mt {
        @include spacing-modifiers($attribute: "margin-top");
    }
    .sm\:mr {
        @include spacing-modifiers($attribute: "margin-right");
    }
    .sm\:mb {
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .sm\:ml {
        @include spacing-modifiers($attribute: "margin-left");
    }

    .sm\:p {
        @include spacing-modifiers($attribute: "padding");
    }
    .sm\:px {
        @include spacing-modifiers($attribute: "padding-left");
        @include spacing-modifiers($attribute: "padding-right");
    }
    .sm\:py {
        @include spacing-modifiers($attribute: "padding-top");
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .sm\:pt {
        @include spacing-modifiers($attribute: "padding-top");
    }
    .sm\:pr {
        @include spacing-modifiers($attribute: "padding-right");
    }
    .sm\:pb {
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .sm\:pl {
        @include spacing-modifiers($attribute: "padding-left");
    }
}

@include md-size-up() {
    .md\:m {
        @include spacing-modifiers($attribute: "margin");
    }
    .md\:mx {
        @include spacing-modifiers($attribute: "margin-left");
        @include spacing-modifiers($attribute: "margin-right");
    }
    .md\:my {
        @include spacing-modifiers($attribute: "margin-top");
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .md\:mt {
        @include spacing-modifiers($attribute: "margin-top");
    }
    .md\:mr {
        @include spacing-modifiers($attribute: "margin-right");
    }
    .md\:mb {
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .md\:ml {
        @include spacing-modifiers($attribute: "margin-left");
    }

    .md\:p {
        @include spacing-modifiers($attribute: "padding");
    }
    .md\:px {
        @include spacing-modifiers($attribute: "padding-left");
        @include spacing-modifiers($attribute: "padding-right");
    }
    .md\:py {
        @include spacing-modifiers($attribute: "padding-top");
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .md\:pt {
        @include spacing-modifiers($attribute: "padding-top");
    }
    .md\:pr {
        @include spacing-modifiers($attribute: "padding-right");
    }
    .md\:pb {
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .md\:pl {
        @include spacing-modifiers($attribute: "padding-left");
    }
}

@include lg-size-up() {
    .lg\:m {
        @include spacing-modifiers($attribute: "margin");
    }
    .lg\:mx {
        @include spacing-modifiers($attribute: "margin-left");
        @include spacing-modifiers($attribute: "margin-right");
    }
    .lg\:my {
        @include spacing-modifiers($attribute: "margin-top");
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .lg\:mt {
        @include spacing-modifiers($attribute: "margin-top");
    }
    .lg\:mr {
        @include spacing-modifiers($attribute: "margin-right");
    }
    .lg\:mb {
        @include spacing-modifiers($attribute: "margin-bottom");
    }
    .lg\:ml {
        @include spacing-modifiers($attribute: "margin-left");
    }

    .lg\:p {
        @include spacing-modifiers($attribute: "padding");
    }
    .lg\:px {
        @include spacing-modifiers($attribute: "padding-left");
        @include spacing-modifiers($attribute: "padding-right");
    }
    .lg\:py {
        @include spacing-modifiers($attribute: "padding-top");
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .lg\:pt {
        @include spacing-modifiers($attribute: "padding-top");
    }
    .lg\:pr {
        @include spacing-modifiers($attribute: "padding-right");
    }
    .lg\:pb {
        @include spacing-modifiers($attribute: "padding-bottom");
    }
    .lg\:pl {
        @include spacing-modifiers($attribute: "padding-left");
    }
}

.sm\:visible {
    @include md-size-down() {
        display: initial;
    }
    @include md-to-lg() {
        display: none;
    }
    @include lg-size-up() {
        display: none;
    }
}

.md\:visible {
    @include md-size-down() {
        display: none;
    }
    @include md-to-lg() {
        display: initial;
    }
    @include lg-size-up() {
        display: none;
    }
}

.lg\:visible {
    @include md-size-down() {
        display: none;
    }
    @include md-to-lg() {
        display: none;
    }
    @include lg-size-up() {
        display: initial;
    }
}

@include md-size-down() {
    .sm\:hidden {
        display: none;
    }
}

@include md-to-lg() {
    .md\:hidden {
        display: none;
    }
}

@include lg-size-up() {
    .lg\:hidden {
        display: none;
    }
}
/* Basic widths */
.max-w-1400 {
    max-width: 1400px;
}

/* Sizing */

.w-full {
    width: 100% !important;
}
.w-screen {
    width: 100vw !important;
}
.w-3\/4 {
    width: 75% !important;
}
.w-1\/4 {
    width: 25% !important;
}
.w-1\/2 {
    width: 50% !important;
}
.w-1\/3 {
    width: 33.33% !important;
}
.w-2\/3 {
    width: 66.66% !important;
}

.h-full {
    height: 100% !important;
}
.h-screen {
    height: 100vh !important;
}

/* End Sizing */

/* Shadows */

.box-shadow-near {
    box-shadow: $mainsail-shadow-near;
}

.box-shadow-far {
    box-shadow: $mainsail-shadow-far;
}

.box-shadow-sticky {
    box-shadow: $mainsail-shadow-sticky;
}
/* End Shadows */

/* Positions */
.flex {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;

    &.wrap {
        flex-wrap: wrap;
    }

    &.wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.justify-center {
        justify-content: center;
    }

    &.col {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }

    .flex-grow {
        flex-grow: 1;
    }
    .flex-shrink {
        flex-shrink: 1;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top {
    @include spacing-modifiers($attribute: "top");
}
.right {
    @include spacing-modifiers($attribute: "right");
}
.bottom {
    @include spacing-modifiers($attribute: "bottom");
}
.left {
    @include spacing-modifiers($attribute: "left");
}
/* End Positions */

/* Colors */
.bg {
    @include color-modifiers();
}

.bg-white {
    background-color: $mainsail-white !important;
}

.text {
    @include color-modifiers($attribute: "color");
}

.text-white {
    color: $mainsail-white !important;
}
/* End Colors */

/* Borders */
.border {
    @include color-modifiers($attribute: "border-color") {
        border-width: 1px !important;
        border-style: solid !important;
    }
}

.rounded,
.rounded-4 {
    border-radius: 4px !important;
}
.rounded-8 {
    border-radius: 8px !important;
}
.rounded-10 {
    border-radius: 10px !important;
}
.rounded-20 {
    border-radius: 20px !important;
}
/* End Borders */

.content-blur {
    filter: blur(3px);
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.overflow-hidden {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.content-overlay {
    background-color: $mainsail-overlay;
    z-index: 100;
}

.mainsail-skeleton {
    position: relative;
    overflow: hidden;
    flex-basis: 80%;
    flex-shrink: 1;
    min-height: 20px;
    border-radius: $mainsail-skeleton-radius;
    background: $mainsail-neutral-5;

    &.animated::before {
        content: "";
        display: block;
        position: absolute;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(
                to right,
                transparent 0%,
                rgba($mainsail-neutral-6, 0.9) 50%,
                transparent 100%
            ),
            $mainsail-neutral-5;
        left: -100px;
        animation: load 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    &.sm {
        flex-basis: 30%;
    }
    &.md {
        flex-basis: 60%;
    }
    &.lg {
        flex-basis: 90%;
    }
}

@keyframes load {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
}
