@import "./Colors.scss";
@import "./Utility.scss";

$font: "Roboto", Helvetica, Arial, sans-serif;
$mainsail-font: $font;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    color: $mainsail-neutral-1;
    font-family: $font;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 30px;
}
h1,
.h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
}
h2,
.h2 {
    font-size: 24px;
    line-height: 28px;
}
h3,
.h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
h4,
.h4 {
    font-size: 14px;
    line-height: 18px;
}

.hero-text {
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    color: $mainsail-neutral-1;
    margin-bottom: 0px;
}

p,
.body-text {
    @include mainsail-body-text-regular();
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    color: $mainsail-neutral-1;

    &.md {
        @include mainsail-body-text-regular();
    }

    &.lg {
        @include mainsail-body-text-large();
    }

    &.sm {
        @include mainsail-body-text-small();
    }

    &.xs {
        @include mainsail-body-text-tiny();
    }
}

.label-text {
    @include mainsail-label-text-small();
    font-style: normal;
    font-weight: 700;
    letter-spacing: 00.04em;
    text-transform: uppercase;
    &.sm {
        @include mainsail-label-text-small();
    }
}

.button-text {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    color: $mainsail-neutral-1;
    @include mainsail-button-text-regular();

    &.md {
        @include mainsail-button-text-regular();
    }

    &.sm {
        @include mainsail-button-text-small();
    }
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}
