/* Icon Color Generation */
@mixin icon-colors() {
    @each $name, $color in $icon-colors {
        &.#{$name} {
            color: $color;
        }
    }
}

/* Grid-template Generation */
@mixin grid-templates() {
    @for $_ from 1 through 12 {
        &.sm\:grid-cols-#{$_} {
            grid-template-columns: repeat($_, minmax(0, 1fr));
        }

        &.sm\:grid-rows-#{$_} {
            grid-template-rows: repeat($_, minmax(0, 1fr));
        }
    }

    @include md-size-up() {
        @for $_ from 1 through 12 {
            &.md\:grid-cols-#{$_} {
                grid-template-columns: repeat($_, minmax(0, 1fr));
            }

            &.md\:grid-rows-#{$_} {
                grid-template-rows: repeat($_, minmax(0, 1fr));
            }
        }
    }

    @include lg-size-up() {
        @for $_ from 1 through 12 {
            &.lg\:grid-cols-#{$_} {
                grid-template-columns: repeat($_, minmax(0, 1fr));
            }

            &.lg\:grid-rows-#{$_} {
                grid-template-rows: repeat($_, minmax(0, 1fr));
            }
        }
    }

    .col-span-auto {
        grid-column: auto;
    }

    .col-span-auto {
        grid-column: auto;
    }

    &.grid-cols-auto {
        grid-template-columns: repeat(auto, minmax(0, 1fr));
    }
    &.grid-rows-auto {
        grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    }
}

@mixin grid-positioning {
    @for $_ from 1 through 12 {
        &.sm\:col-start-#{$_} {
            grid-column-start: $_;
        }

        &.sm\:row-start-#{$_} {
            grid-row-start: $_;
        }

        &.sm\:col-end-#{$_} {
            grid-column-end: $_;
        }

        &.sm\:row-end-#{$_} {
            grid-row-end: $_;
        }

        .sm\:col-span-#{$_} {
            grid-column: span $_;
        }

        .sm\:row-span-#{$_} {
            grid-row: span $_;
        }
    }
    @include md-size-up() {
        @for $_ from 1 through 12 {
            &.md\:col-start-#{$_} {
                grid-column-start: $_;
            }

            &.md\:row-start-#{$_} {
                grid-row-start: $_;
            }

            &.md\:col-end-#{$_} {
                grid-column-end: $_;
            }

            &.md\:row-end-#{$_} {
                grid-row-end: $_;
            }

            .md\:col-span-#{$_} {
                grid-column: span $_;
            }

            .md\:row-span-#{$_} {
                grid-row: span $_;
            }
        }
    }
    @include lg-size-up() {
        @for $_ from 1 through 12 {
            &.lg\:col-start-#{$_} {
                grid-column-start: $_;
            }

            &.lg\:row-start-#{$_} {
                grid-row-start: $_;
            }

            &.lg\:col-end-#{$_} {
                grid-column-end: $_;
            }

            &.lg\:row-end-#{$_} {
                grid-row-end: $_;
            }

            .lg\:col-span-#{$_} {
                grid-column: span $_;
            }

            .lg\:row-span-#{$_} {
                grid-row: span $_;
            }
        }
    }
}

/* Responsive Utility Mixins */
@mixin sm-size-up {
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md-size-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg-size-up {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl-size-up {
    @media (min-width: 1200px) {
        @content;
    }
}

// Reverse Responsive Utilities
@mixin sm-size-down {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin md-size-down {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin lg-size-down {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin xl-size-down {
    @media (max-width: 1199.98px) {
        @content;
    }
}

// Between breakpoints
@mixin md-to-lg {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}

// Quick Breaks - (How our navigation currently breaks)
@mixin mobile-size-down {
    @media only screen and (max-width: 991.98px) {
        @content;
    }
}

@mixin mobile-size-up {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin h2 {
    font-size: 24px;
    line-height: 28px;
    color: $mainsail-neutral-1;
    font-family: $font;
    font-weight: 500;
}

@mixin h3 {
    color: $mainsail-neutral-1;
    font-family: $font;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

@mixin h4 {
    color: $mainsail-neutral-1;
    font-family: $font;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

/* Table Text Mixins */

@mixin mainsail-table-header-text-small {
    font-family: $font;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.04em;
}

/* Body Text Mixins */
@mixin mainsail-body-text-large {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@mixin mainsail-body-text-regular {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

@mixin mainsail-body-text-small {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

@mixin mainsail-body-text-tiny {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

// Label Text Mixins
@mixin mainsail-label-text-large {
    font-family: $font;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

@mixin mainsail-label-text-small {
    font-family: $font;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

// Button Text Mixins
@mixin mainsail-button-text-regular() {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

@mixin mainsail-button-text-small() {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

@mixin disabled {
    &:disabled {
        box-shadow: none;
        opacity: 0.5;
        cursor: not-allowed;
        @content;
    }
}

@mixin readonly {
    &:read-only {
        background: $mainsail-neutral-6;
        box-shadow: none;
        cursor: text;
        @content;
    }
}

@mixin hover {
    &:not([disabled]):not([active]):hover {
        @content;
    }
}

@mixin focus {
    &:not([disabled]):not([hover]):focus {
        outline: none;
        box-shadow: 0 0 0 2px $mainsail-blue-primary;
        @content;
    }
}

@mixin active {
    &:not([disabled]):not([hover]):active {
        outline: none;
        box-shadow: 0 0 0 2px $mainsail-blue-primary;
        @content;
    }
}

@mixin mainsail-button-intents {
    .filtering {
        background: $mainsail-green-middle;
        color: $mainsail-blue-light;
        border-color: $mainsail-green-middle;

        @include hover {
        }
    }

    .destructive {
        background: $mainsail-danger;
        color: $mainsail-blue-light;
        border-color: $mainsail-danger;
    }
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

/* Spacing Utility Generators */
$spacing: (
    0: 0px,
    4: 4px,
    8: 8px,
    10: 10px,
    12: 12px,
    15: 15px,
    16: 16px,
    20: 20px,
    30: 30px,
    48: 48px,
);

@mixin spacing-modifiers($attribute: "margin") {
    @each $name, $size in $spacing {
        &-#{$name} {
            #{$attribute}: $size !important;
        }
    }
}

@mixin spacing-between($attribute: "margin") {
    @each $name, $size in $spacing {
        &-#{$name} > * + * {
            #{$attribute}: $size !important;
        }
    }
}

@mixin color-modifiers($attribute: "background-color") {
    @each $name, $color in $blue {
        &-blue-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $green {
        &-green-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $violet {
        &-violet-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $orange {
        &-orange-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $red {
        &-red-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $pink {
        &-pink-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
    @each $name, $color in $neutral {
        &-neutral-#{$name} {
            #{$attribute}: $color !important;
            @content;
        }
    }
}
