@import "./Colors.scss";
@import "./Text.scss";

// Utility Sass (mixins)
@import "./Utility.scss";

// Tables
$mainsail-table-border: 1px solid $mainsail-neutral-5;
$mainsail-table-border-radius: 10px;

// Input Styling
$mainsail-input-border-radius: 4px;
$mainsail-input-border: $mainsail-neutral-4;
$mainsail-input-border-active: $mainsail-blue-primary;
$mainsail-input-border-error: $mainsail-red-middle;

// Shadows
$mainsail-shadow-sticky: 0px 2px 4px rgba(0, 52, 98, 0.1);
$mainsail-shadow-far: 0px 2px 32px -12px rgba(0, 52, 98, 0.25);
$mainsail-shadow-near: 0px 2px 8px -2px rgba(0, 52, 98, 0.3);
$mainsail-shadow-active: 0px 0px 2px 1px rgba(0, 111, 186, 0.5);

@mixin mainsail-shadow-active($color) {
    box-shadow: 0px 0px 2px 1px rgba($color, 0.5);
}

@mixin mainsail-shadow-near($color) {
    box-shadow: 0px 2px 8px -2px rgba($color, 0.3);
}

@mixin mainsail-shadow-far($color) {
    box-shadow: 0px 2px 32px -12px rgba($color, 0.25);
}

// Tab Styling
@mixin mainsail-tab-text($font-weight) {
    font-family: $mainsail-font;
    font-size: 18px;
    font-weight: $font-weight;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

// Radius properties
$mainsail-pill-radius: 20px;
$mainsail-alert-radius: 4px;
$mainsail-tip-radius: 4px;
$mainsail-tab-radius: 8px;
$mainsail-modal-radius: 8px;
$mainsail-button-border-radius: 4px;
$mainsail-button-border-radius-lg: 8px;

$text-body-color: $mainsail-neutral-1;

// Overlays
$mainsail-overlay: rgba(0, 52, 98, 0.1);
