@import "./Colors.scss";
@import "./Text.scss";

// Utility Sass (mixins)
@import "./Utility.scss";

// Input Styling
$mainsail-input-border-radius: 4px;
$mainsail-input-border: $mainsail-neutral-4;
$mainsail-input-border-active: $mainsail-blue-primary;

// Shadows
$mainsail-shadow-sticky-bar: 0px 4px 22px -13px rgba(0, 52, 98, 0.2);
$mainsail-shadow-far: 0px 2px 32px -12px rgba(0, 52, 98, 0.25);
$mainsail-shadow-near: 0px 2px 8px -2px rgba(0, 52, 98, 0.3);
$mainsail-shadow-active: 0px 0px 2px 1px rgba(0, 111, 186, 0.5);

// Tab Styling
@mixin mainsail-tab-text($font-weight) {
    font-family: $mainsail-font;
    font-size: 18px;
    font-weight: $font-weight;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

// Radius properties
$mainsail-pill-radius: 20px;
$mainsail-alert-radius: 4px;
$mainsail-tab-radius: 8px;
$mainsail-button-border-radius: 4px;
$mainsail-button-border-radius-lg: 8px;

$text-body-color: $mainsail-neutral-1;
