@import "../../styles/Variables.scss";
@import "../../styles/Layout.scss";

/** AutoGrid Component Styles */
.mainsail-auto-grid {
    display: grid;

    &.grid-flow-col {
        grid-auto-flow: column;
    }

    &.grid-flow-row {
        grid-auto-flow: row;
    }

    &.gap {
        @include spacing-modifiers($attribute: "gap");
    }

    &.gap-row {
        @include spacing-modifiers($attribute: "row-gap");
    }

    &.gap-col {
        @include spacing-modifiers($attribute: "column-gap");
    }

    @include grid-templates;
    @include grid-positioning;

    .column-auto {
        grid-column: auto;
    }

    .row-auto {
        grid-row: auto;
    }

    .mainsail-autogrid__item {
        display: grid;

        &.justify-start {
            justify-items: start;
        }

        &.justify-center {
            justify-items: center;
        }

        &.justify-end {
            justify-items: end;
        }

        &.align-center {
            align-items: center;
        }

        &.align-start {
            align-items: start;
        }

        &.align-end {
            align-items: end;
        }

        @include grid-positioning;
    }
}
