@import "../../styles/Variables.scss";

.mainsail-icon {
    color: $mainsail-blue-primary;
    display: inline-flex;
    align-items: center;
    align-content: center;

    svg {
        vertical-align: middle;
        align-self: center;
    }

    &.sm {
        color: inherit;
        svg {
            height: 12px;
            width: 12px;
        }
    }

    &.md {
        color: inherit;
        svg {
            height: 16px;
            width: 16px;
        }
    }

    &.lg {
        color: inherit;
        svg {
            height: 24px;
            width: 24px;
        }
    }

    &.xl {
        color: inherit;
        svg {
            height: 32px;
            width: 32px;
        }
    }

    &.disabled {
        opacity: 0.3;
        user-select: none;
        pointer-events: none;
    }

    @include icon-colors();
}
