@import "../../styles/Variables.scss";

.mainsail-icon {
    &span,
    span {
        color: inherit;
        display: flex;
        align-content: center;
    }

    &.sm {
        color: inherit;
        svg {
            height: 12px;
            width: 12px;
        }
    }

    &.md {
        color: inherit;
        svg {
            height: 16px;
            width: 16px;
        }
    }

    &.lg {
        color: inherit;
        svg {
            height: 32px;
            width: 32px;
        }
    }
}
