@import "../../styles/Variables.scss";

/** FormHelpText Component Styles */
.mainsail-help-text {
    box-sizing: border-box;
    @include mainsail-body-text-small;
    margin-top: 6px;
    color: $mainsail-neutral-3;

    &.disabled {
        opacity: 0.5;
    }

    a,
    a:active,
    a:visited {
        color: $mainsail-blue-primary;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
