/** Avatar Component Styles */
img.mainsail-avatar {
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    background: transparent;
    width: 64px;
    height: 64px;
    box-shadow: $mainsail-shadow-near;

    &.md {
        width: 64px;
        height: 64px;
    }

    &.sm {
        width: 32px;
        height: 32px;
    }
}
