@import "../../styles/Variables.scss";

/** FormInputOptions Component Styles */
.mainsail-input-options {
    box-sizing: border-box;
    margin-top: 6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
        margin-right: 16px;
        margin-bottom: 8px;
    }

    .mainsail-checkbox .mainsail-checkbox__label-text {
        @include mainsail-body-text-small;
        color: $mainsail-neutral-1;
        margin-top: 0;
    }

    &:disabled .mainsail-checkbox__label-text,
    &:disabled .mainsail-radio__label-text {
        opacity: 0.5;
    }
}
