/** FormLabel Component Styles */

label.mainsail-form-label {
    @include mainsail-label-text-small;
    display: block;
    margin-bottom: 4px;
    color: $mainsail-neutral-2;
    box-sizing: border-box;

    .required-mark {
        margin-left: 2px;
        color: $mainsail-red-middle;
    }

    &.disabled {
        opacity: 0.5;
    }
}
